@import '../../styles/Palette/Palette.scss';
@import '../../styles/Font_Scheme/Font_Scheme.scss';

.Community {
	width: 100%;
	margin: 0 auto;

	&-Title {
		text-align: center;
		font-size: $font_30;
	}

	&-List {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		height: 90vh;
		overflow-x: hidden;
		overflow-y: auto;

		&-Item {
			min-width: 600px;
			max-width: 600px;
			background-color: $lighterGray;
			margin: 1rem;
			padding: 1rem;
			cursor: pointer;

			&-Title {
				font-size: $font_25;
				font-weight: bold;
			}

			&-Top {
				display: flex;
				display: -webkit-flex;
				align-items: center;
				margin-bottom: 1rem;

				& > img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin-right: 10px;
				}
			}

			& > * {
				word-break: break-all;
			}
		}
	}

	&-Write {
		position: fixed;
		bottom: 3rem;
		right: 3rem;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		background-color: $indigo;
		width: 70px;
		height: 70px;
		border: none;
		outline: none;
		border-radius: 50%;
		color: $white;
		cursor: pointer;

		& > * {
			font-size: $font_22;
		}
	}
}
