@import '../../../styles/Palette/Palette.scss';

.Header {
	width: 100%;
	height: 70px;
	background-color: $boldBlue;

	&-Contents {
		height: 100%;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
	}
}
