/* your css code */
@import '../../../styles/Font_Scheme/Font_Scheme.scss';
@import '../../../styles/Palette/Palette.scss';

.CheckBox {
	height: 30px;
	font-size: $font_22;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&-iconWrap {
		color: $gray;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 0.1rem solid $gray;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 0.5rem;
		cursor: pointer;
		transition: color ease-in 0.1s, border-color ease-in 0.1s;
		&-icon {
			z-index: 1;
			opacity: 1;
			transition: opacity 0.1s, z-index 0.1s;
		}
		&-hiddenIcon {
			opacity: 0;
			z-index: -1;
		}
		&-checked {
			color: rgba($color: $primary, $alpha: 0.8) !important;
			border-color: rgba($color: $primary, $alpha: 0.8) !important;
		}
	}
	&-contents {
		color: $font_12;
		user-select: none;
		font-size: $font_14;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
